rightcolumn

  div(id='rightcolumn')
    h2 Your Lists:
    ul
      li
        a(href='/my_movies' target='_blank') my_movies
      li
        a(href='/my_friends' target='_blank') my_friends

    h2 Follow us on social media:
    a(href='https://www.facebook.com/' target='_blank')
      img(
        src='images/facebook.png'
        alt='facebook'
      )
    a(href='https://twitter.com/' target='_blank')
      img(
        src='images/twitter.png'
        alt='twitter'
      )
    a(href='https://www.instagram.com/' target='_blank')
      img(
        src='images/instagram.png'
        alt='instagram'
      )
      h2 Contact Us:
      a(href='/contact' target='_blank')
        img(
          src='images/contact.png'
          alt='contact'
        )
